/* Color Hunt - Color Palette 219713 
HTML color code #222831 #393e46 #ffd369 #eeeeee */

body {
    color:#eeeeee;
    background-color:#222831;
    margin: 0;
    padding: 0;
    border: 0px;}

hr {
    margin-left: 20%;
    margin-right: 25px;
    border-color: #ffd369;
    border-style: none;
    border-top-style: dotted; 
    border-width: 5px;
    width: 75%;}

/* Navigation Menu */
div#side_nav {
    font-family: fashion;
    src: url(../fonts/fashion.ttf);
    text-align: center;
    height: 100%;
    width: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
    position: fixed;
    transform: translateY(0%);
    overflow: hidden;}

div#side_nav p {
    color: #ffd369;}

div#side_nav a:link, a:visited {
    color: #eeeeee;
    text-decoration: none}

div#side_nav a:hover {
    color: #393e46;
    text-decoration: none}

div#side_nav .nav_icon {
    width: 20px;
    height: 20px;}

/* About Me */   
div#about_me .myintro {
    float: left;
    position: relative;
    font-family: fashion;
        src: url(../fonts/fashion.ttf);
    text-align: left;
    margin-top: 25px;
    margin-left: 25%;
    margin-right: 25px;
    margin-bottom: 25px;}

div.myintro .profile_picture {
    float: right;
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: -35%;
    margin-right: -50%;}

/* My Skills */
div#myskills {
    float: left;
    font-family: fashion;
    src: url(../fonts/fashion.ttf);
    text-align: left;
    margin-top: 25px;
    margin-left: 25%;
    margin-bottom: 25px;}

div.skills .skills_icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;}

div.skills p {
    margin-left: 20px;}

/* My Educations & Certifications */
div#myeducations {
    float: left;
    font-family: fashion;
    src: url(../fonts/fashion.ttf);
    text-align: left;
    margin-top: 10px;
    margin-left: 25%;
    margin-bottom: 25px;}

div.educations .educations_icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;}

div#myeducations p {
    margin-left: 20px;}

div#myeducations a:link, a:visited {
    color: #eeeeee;
    text-decoration: none}

div#myresume {
    float: left;
    font-family: fashion;
    src: url(../fonts/fashion.ttf);
    text-align: left;
    margin-top: 25px;
    margin-left: 25%;
    margin-bottom: 25px;}

div#myresume .resume_icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;}

    div#myresume a:link, a:visited {
        color: #eeeeee;
        text-decoration: none}
    
    div#myresume a:hover {
        color: #393e46;
        text-decoration: none}
